.hero {
  background-image: url("../images/image-header.jpg");
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 320px) and (max-width: 520px) {
    //   background-size: cover;

    background-image: url("../images/image-header1.jpg");
  }
  .main-container {
    display: flex;
    padding: 30px;
    // margin: 0 20px;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 320px) and (max-width: 520px) {
      // position: static;
      margin: 0px;
      padding: 0px;
      visibility: visible;
      background-color: red;
    }

    .navList {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      width: 75%;

      .contact,
      .about,
      .service,
      .project {
        padding: 25px 15px;
        font-size: 14px;

        a {
          color: var(--White);

          text-decoration: none;
        }
      }

      .spans a {
        font-weight: bolder;
        border: 0px solid var(--White);
        border-radius: 20px;
        padding: 10px;
        text-transform: uppercase;
        color: var(--Very-dark-desaturated-blue);
        background-color: var(--White);
      }

      a.contact:hover {
        background-color: #6ecefe;
        color: var(--White);
      }
    }

    .mobile-hamburger {
      display: none;
    }
    @media screen and (max-width: 550px) {
      .logo {
        display: flex;
        position: absolute;
        top: 25px;
        left: 35px;
      }

      .navList {
        display: none;
      }

      .navlist-mobile {
        position: absolute;
        display: block;
        background-color: var(--White);
        list-style: none;
        left: 0;
        top: 65px;
        transition: all 0.5s ease-in-out;
        width: 100%;
        font-size: 18px;
      }
      a {
        color: var(--Grayish-blue);

        text-decoration: none;
      }
      li {
        list-style: none;
      }
      .about,
      .service,
      .contact,
      .project {
        text-align: center;
        padding: 30px;
        width: 100%;
        transition: all 0.5s ease;
      }
      .contact a {
        font-weight: bolder;

        border-radius: 20px;
        padding: 10px 20px;
        text-transform: uppercase;
        color: black;
        background-color: var(--Yellow);
      }
      .contact a:hover {
        color: var(--Yellow);
        background-color: black;
      }

      .mobile-hamburger {
        display: block;
        position: absolute;
        font-size: 20px;
        // color: white;
        border: none;
        outline: none;
        top: 25px;
        right: 25px;
      }
    }

    // right: 10px;
    // margin: 0 auto;
  }

  .heroContent {
    text-align: center;

    h1 {
      color: var(--White);
      letter-spacing: 0.8rem;
      font-size: 40px;
      padding: 4rem 0;
      font-weight: 900;
      text-transform: uppercase;
    }
    // img {
    //   position: absolute;
    //   top: 45%;
    // }
  }
}
