.footer {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: hsl(168, 27%, 53%);

  .logo {
    fill: transparent;
  }
  .links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 40px 0;

    @media (min-width: 310px) and (max-width: 430px) {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    li {
      list-style: none;
      font-size: 18px;
    }
  }
  a {
    text-decoration: none;
    color: var(--Dark-moderate-cyan);

    &:hover {
      color: var(--White);
    }
  }

  .links-icon-container {
    cursor: pointer;
    gap: 30px;
    display: flex;
    flex-direction: row;

    @media (min-width: 310px) and (max-width: 430px) {
      gap: 20px;
    }
    .icon :hover {
      fill: white;
    }
  }
}
